# .gitignore

# Arquivos de configuração locais
backend/.env

# Ambiente virtual
backend/venv/

# Arquivos de banco de dados
backend/db.sqlite3

# Ignorar arquivos compilados do Python
*.pyc
*.pyo
__pycache__/
**/__pycache__/