# .gitignore

# Arquivos de configuração locais
backend/.env

# Ambiente virtual
backend/venv/

# Arquivos de banco de dados
backend/db.sqlite3

# Arquivos de build
backend/financial_project/__pycache__
backend/wallet/__pycache__